<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="chatServerHandler" class="chat.filter.ChatServerHandler">
		<property name="dispatcher">
			<ref bean="dispatcher" />
		</property>
		<property name="chatServer">
			<ref bean="chatServer" />
		</property>
        <property name="serverModel">
            <ref bean="serverModel" />
        </property>
        <property name="httpRequestDispatcher">
            <ref bean="httpRequestDispatcher"/>
        </property>
	</bean>

	
	<bean id="chatServer" class="chat.server.ChatServer">
		<property name="chatServerHandler">
			<ref bean="chatServerHandler" />
		</property>
		<property name="dispatcher">
			<ref bean="dispatcher" />
		</property>
		<property name="serverModel">
			<ref bean="serverModel" />
		</property>
	</bean>

	<bean id="serverModel" class="chat.server.ServerModel">
		<property name="chatServer">
			<ref bean="chatServer" />
		</property>
	</bean>

	<bean id="dispatcher" class="chat.server.RequestDispatcher">
		<property name="chatServer">
			<ref bean="chatServer" />
		</property>
		<property name="messageService">
			<ref bean="messageService" />
		</property>
        <property name="serverModel">
            <ref bean="serverModel" />
        </property>
	</bean>
    <bean id="httpRequestDispatcher" class="chat.server.HttpRequestDispatcher">
        <property name="chatServer">
            <ref bean="chatServer" />
        </property>
        <property name="userService">
            <ref bean="userService" />
        </property>
        <property name="messageService">
            <ref bean="messageService" />
        </property>
        <property name="serverModel">
            <ref bean="serverModel" />
        </property>
    </bean>

	<bean id="messageService" class="chat.dao.interfaces.impl.MessageServiceImpl"/>
    <bean id="userService" class="chat.dao.interfaces.impl.UserServiceImpl"/>

</beans>
    